<h1><%= @restaurant.name %> (<%= @restaurant.rating %> stars)</h1>
<h2>Come eat our food at <%= @restaurant.address %></h2>
<h3>We serve <%= @restaurant.food_type %></h3>

<a href="/">Return to Homepage</a>